DATABASE_URI="mariadb+mariadbconnector://username:password@localhost:3306/database_name"
SECRET_KEY = "your_secret_key_here"
ALGORITHM = "HS256"
PRODUCTION = "False" # False for development, True for production